.crossed {
    text-decoration: line-through;
}

body {
    background-color: rgb(54, 164, 131);
}

li button {
    margin-left: 20px;
    border-radius: 8px;
    background-color: rgb(187, 130, 74);
}

ul li {
    font-size: 20px;
    color:rgb(12, 19, 17);
    list-style: none;
}

h1 {
    text-align: center;
}